<div class = "container">
<%= form_with(model: @blog, local: true ,url: confirm_blogs_path ) do |form| %>
  <% if @blog.errors.any? %>
  
<div class ="field_with_errors">
      <p><%= @blog.errors.count %>件のエラーがあります。</p>
      
      <% @blog.errors.full_messages.each do |msg| %>
      <p><%= msg %><p>
      <% end %>
      
    </div>
  <% end %>
  
  <div class="blog_title">
      <%= form.label :title %>
      <%= form.text_field :title %>
  </div>
  <div class="blog_title">
      <%= form.label :content %>
      <%= form.text_area :content ,size: "60x10" %>
  </div>
  <%= form.submit "登録する", class: 'btn btn-info' %>
  <%= link_to "ブログ一覧にもどる", blogs_path, class: 'btn btn-info' %>
  <% end %>
</div>

</div>