<h1>ブログを編集</h1>
<div class="container">
   <div class="picture-details">

<%= form_with(model: @picture, local: true) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="picture_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="picture_title">
    <%= form.label :image %>
    <%= form.file_field :image, id: :picture_image %>
  </div>

<button type="submit" class="btn btn-default">送信</button>
<% end %>
</div>
</div>

   <div class="picture-links">
     <%= link_to '一覧へ戻る', pictures_path, class: 'btn btn-default' %>
   </div>